#cor-rosa {
    /* background-color:rgb(192, 255, 211);  */
    color: rgb(226, 43, 52);

}

footer{
    position: absolute;
    height: 100%;
    width: 250px; 
    bottom: -700px;
}

.cor-amarelo{
    background-color: rgb(17, 138, 132);
}

#cor-roxo{
    background-color: rgb(165, 42, 149);
    color: blue;
}

#cor-azul{
    color: blue;
}